<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="container navigation">
        <div class="auth">
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
          <% else %>
            <%= link_to('Login', new_user_session_path) %>  
          <% end %>
        </div>
       </div> 
    </nav>

    <div class="container">
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </body>
</html>
